@font-face {
  font-family: "technor";
  src: url("./assets/Fonts/Technor-Variable.ttf");
}

@font-face {
  font-family: "irani-bold";
  src: url("./assets/Fonts/Kohinoor\ Arabic\ Bold.ttf");
}

@font-face {
  font-family: "irani-regular";
  src: url("./assets/Fonts/Kohinoor\ Arabic\ Regular.ttf");
}
.font-us {
  font-family: "technor", sans-serif !important;
  pre {
    font-family: "technor", sans-serif !important;
  }
  button {
    font-family: "technor", sans-serif !important;
  }
}
.font-fa {
  font-family: "irani-regular", sans-serif !important;
  pre {
    font-family: "irani-regular", sans-serif !important;
  }
  button {
    font-family: "irani-regular", sans-serif !important;
  }
}
* {
  box-sizing: border-box;
}
